streamlit>=1.30.0
pandas
plotly
groq
python-dotenv
psycopg2-binary
bcrypt
cryptography
openpyxl
holidays
torch --index-url https://download.pytorch.org/whl/cpu  # Fondamentale per risparmiare spazio su Cloud
supabase